* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color:rgb(222, 84, 107);
}

.fondo-celeste
{background-color: aquamarine;
}
header{
    display: flex;
    height: 15vh;
    background-color: aquamarine;
    align-items: center;
    gap: 10%;

}
.logo{
    display: flex;
    align-items: center;
    padding: 15px;


}
nav{
    display: flex;
    align-items: center;
}
nav ul{ 
    display: flex;
    list-style: none;
}
nav li{
    margin: 20px;
}
nav a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 2rem;
}

.caja-uno{
    display: flex;
    height: 40vh;
    width: 100vw;
    flex-direction: column;
}
.fondo-rojjo
{background-color: #d14638;
}
.texto-blanco {
    color: rgb(255, 250, 250);
}
.titulo-morado {
    color: blueviolet;
}
.fondo-verde {
    background-color: #637f24;
}
h3 {color: black;}
.fondo-azul {
    background-color: rgb(7, 7, 127);
}
.fondo-gris {
    background-color: #71777d;}
.fondo-amarillo{
    background-color: #847806;
}
    .fondo-azulado{
        background-color: #527d83;
    }
.fondo-imagen {
    background-image: url(../img/rosa.jpg);
background-size: fixed;
}
.fondo-rosa{
 background-color: pink;
}
.center{
    text-align: center;
    margin-top: 20px;
}
.imagen{
    background-attachment: fixed;
}
.tam-img{
    width: 550px;
    height: 890px;
}
.tam-imgdos{
    width: 550px;
    height: 550px;
}
.tam-imgtres{
    width: 500px;
    height: 800px;
}
.tam-imgcuatro{
    width: 700px;
    height: 750px;
}
.tam-imgcinco{
    width: 500px;
    height: 500px;
}
.tam-imgseis{
    width: 350px;
    height: 250px;
}
.tam-foto{
    width: 350px;
    height: 400px;
}

.flex-container{
    flex-direction:column;
    align-content: space-evenly;
}
.espacio{
    display: flex;
    flex-direction: center;
    padding-top: 10px;
    align-items: end;
    text-align: left;
}
.caja{
    display:flex;
    height: 25vh;
justify-content: center;
flex-direction: column;
align-items: center;
}
h1{
    font-size: 3rem;
}
h2,h3,h4{
    font-size: 2rem;
}
.caja-dos{
display: flex;
justify-content: left;
flex-direction: column;}

   .caja-tres{
    font-size: 1rem;
   }
.portada-index{
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
height: 100%;
width: 100%;
}
.container{
    display: flex;
    height: 45vh;
    width: 100vw;
   align-items: center;
   justify-content: center;
}
.tam-boton{
   width: 300px;
   height: 30px;
   align-items: center;
   margin-left: 250px;
}
.boton-enviar{
    width: 100px;
    height: 30px;
}
.video{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50vh;
    
}
.grid-prueba{
    display: grid;
    grid-row: auto;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.855);
}
    .grid-fotos{
        display: grid;
        grid-column: auto;
        gap: 15px;
    }

@media screen and (min-width: 376px) and (max-width: 400px) {
    header {
        height: 50px;
    }
    h1 {
    display: flex; 
    text-align: center;
     font-size: 20px;
        
    }
.caja-tres{
    font-size: 12px;
}
}
@media screen and (min-width:768px) and (max-width: 800px){
    h1{
        font-size: 30px;}
    nav a{
        font-size: 20px;
    }
    .grid-prueba{
        display: grid;
        height: 100px;
}
}